<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocationText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D913F64F1D61ACC9006D135B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D913F6681D61ACCA006D135B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D913F6731D61ACCA006D135B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
